.head{

    font-family: 'Bebas Neue', cursive;
    font-size: 90px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -2px;
    color: rgb(52, 58, 64)!important;

}

h5{
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 40px;
    color: rgb(52, 58, 64)!important;


}

.r11-row{
    position: relative;
    left:8%;
    
}


h2{
    color: white;
    font-family: 'Bebas Neue', cursive;
}



