{% extends 'base.html' %}

{% block title %} Settings | User {% endblock title %}

{% block body %}

{% include 'nav.html' %}


<style>
	.profile-pic {
		max-width: 200px;
		max-height: 200px;
		margin: 0 auto;
		border-radius: 50%;
	}

	.formup {
		position: relative;
		left: 50px;
	}

	.btn-primary {
		position: relative;
		left: 120px;
	}

	.head {
		background-color: white;

	}

	.r11-row{
		position: relative;
		left: 0px;
	}

</style>
<br>

<div class="r11-row" >
	<div class="card card-body">
		<div class="head"> USER Settings </div>
	</div>


		<br>
		<div class="row">
			<div class="col-md-3"> </div>
			<div class="col-md-3">
				<div class="card card-body">
					<a class="btn btn-warning" href="{% url 'userPage' %}"> &#8592; Back to Profile</a>
					<hr>
					<h3 style="text-align: center">Settings</h3>
					<hr>
					<img class="profile-pic" src="{{request.user.patient.profile_pic.url}}">

				</div>
			</div>

			<div class="col-md-3.5 h-9">
				<div class="card card-body">

					<form method="POST" action="" enctype="multipart/form-data">
						{% csrf_token %}

						<div class="formup">
							{{form.name.label}}
							<br>
							{{form.name}}
							<br>


							{{form.email.label}}
							<br>
							{{form.email}}
							<br>

							{{form.phone.label}}
							<br>
							{{form.phone}}
							<br>

							{{form.profile_pic.label}}
							<br>
							{{form.profile_pic}}




						</div>
						<br>
						<input class="btn btn-primary" type="submit" name="Update Information">

					</form>
				</div>
			</div>
		</div>
		</div>




{% endblock body %}