<br>
<div class="stat1" >Appoinment Stats</div>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h2 class="card-title">Appoinments cOUNT</h2>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_appoinments}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h2 class="card-title">Patients Discharged</h2>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{discharged}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h2 class="card-title">Patients Examining</h2>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{examinations}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>












<hr width="50%" style="">
<div class="stat1" >site traffic Stats</div>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders">
			  	<div class="card-header">
			  		<h2 class="card-title">User</h2>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{users_count}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders">
			  	<div class="card-header">
			  		<h2 class="card-title">Super-users</h2>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{superuser_count}}</h3>
			  	</div>
			</div>
		</div>
	</div>


</div>